/* Error: It's not clear which file to import. Found:
 *   assets/scss/_dashboard.scss
 *   assets/scss/dashboard.scss
 *    ,
 * 10 | @use 'dashboard';
 *    | ^^^^^^^^^^^^^^^^
 *    '
 *   assets/scss/dashboard.scss 10:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   assets/scss/_dashboard.scss\a   assets/scss/dashboard.scss\a    \2577 \a 10 \2502  @use 'dashboard';\a    \2502  ^^^^^^^^^^^^^^^^\a    \2575 \a   assets/scss/dashboard.scss 10:1  root stylesheet";
}
